/** Add css rules here for your application. */

body {
	background-color: #E6E6E6;
}


/** Example rules used by the template application (remove for your app) */
h1 {
	color: #C3CA00;
  font-size: 25px;
  font-weight: bold;
  margin: 0px 0px 5px;
  text-align: center;
  text-shadow: 3px -1px 0px #000;
}