.gwt-DialogBox {
	background-color: #3a652e;
	border: 1px solid #3a652e;
	box-shadow: 3px 3px 10px 0 #7E7E7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.gwt-DialogBox tr {
	height: auto;
}

div.gwt-DialogBox tr>* {
	height: auto;
	padding: 0;
}

.gwt-DialogBox .Caption {
	font-weight: bold;
	font-family: arial;
	font-size: 13px;
	padding: 7px 10px;
	text-shadow: #fff 0 0px 5px;
	cursor: default;
	background-color: #3a652e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.gwt-DialogBox .dialogTop>td {
	border-bottom: 1px solid #3a652e;
}

.dialogContent{
	padding: 10px;
	margin: 0px auto;
	background-color: white;
}

.dialogMiddleCenter .gwt-Label {
	min-width: 300px;
	max-width: 1024px;
}

.dialogMiddle{
	padding: 10px;
}