body, table td, select, button {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

pre {
  font-family: "courier new", courier;
  font-size: small;
}

body {
  background-color: #E6E6E6;
  color: #C3CA00;
}

.loadshedding-bulb {
	font-size: 13px;
	line-height: 12px;
	color: #B0160A;
	border: none;
	border-radius: 3px;
	margin-left: 26px;
/* 	cursor: pointer; */
	background-color: inherit;
	vertical-align: top;
}

.scheduleContainer {
	width: 96%;
	background-color: #4AA3B7;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin: 5px 0;
	padding: 10px 10px;
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;
/* 	height: 50px; */
}

.scheduleContainer-selected {
	background-color: #2C7386;
}

@sprite .loadshedding-bulb-on > div.icon {
	gwt-image: "bulbOn";
	margin: 8px 4px;
}

@sprite .loadshedding-bulb-off > div.icon {
	gwt-image: "bulbOff";
	margin: 8px 4px;
}

.loadshedding-bulb-on > div.text {
	margin-top: 5px;
}

.serverconnection {
	border: none;
	margin-left: 160px;
	margin-top: 0px;
	background-color: inherit;
	float: left;
	height: 29px;
}

.serverconnection-notconnected {
	margin-left: 130px;
}

@sprite .serverconnection-connecting > div.icon {
	gwt-image: "connecting";
	height: 24px;
	width: 23px;
	margin: 0px 4px;
	float: left;
}

@sprite .serverconnection-connected > div.icon {
	gwt-image: "connected";
	height: 24px;
	width: 23px;
	margin: 0px 4px;
	float: left;
}

@sprite .serverconnection-notconnected > div.icon {
	gwt-image: "notconnected";
	height: 15px;
	width: 15px;
	margin: 8px 4px;
	float: left;
}

.gwt-Button {
		display: inline-block;
		background-color: #2858A7;
		background-image: -moz-linear-gradient(#1D3767, #2858A7);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1D3767), to(#2858A7));
		background-repeat: repeat-x;
		box-shadow: 0 1px 0 #FFFFFF;
		color: #FFFFFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		display: inline-block;
		font-family: arial;
		font-size: 12px;
		font-weight: bold;
		padding: 5px 10px;
		text-decoration: none;
		cursor: pointer;
		border-radius: 4px;
		overflow: visible;
		line-height: 18px;
		border: 1px solid #057ED0;
		margin-bottom: 5px;
		margin-left: 5px;
	}
	
.gwt-Button-selected {
		background-color: #0C794A;
	}
	
.info {
	font-size: 11px;
	margin: 0px 0px 2px 14px;
	font-weight: bold;
	float: left;
}

.loadingpanel {
	color: #1E5B11;
	font-size:20px;
  	font-weight:bold;
  	margin-top:90px;
  	text-align:center;
}

.bodyContainer {
	width: 520px;
	height: 500px;
}

.settings {
	cursor: pointer;
}

.settingsPanel {
	text-align:center;
	padding: 1px 0;
}

.settingsContainer{
	padding: 10px;
	background-color: #1B4753;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.errorLabel{
	color: red;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0px 5px 165px;
}

.savedLabel{
	color: green;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0px 5px 165px;
}

.scheduleStatusContainer {
	width: 510px;
	background-color: #1B4753;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 5px;
	height: 35px;
	line-height: 34px;
}
