.clear {
	clear: both;
}

/*main schdule container*/
.schedulesContainer {
	width: 500px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background-color: #9A9BA0;
	padding: 1px 5px;
}

.timeContainer {
/* 	display: inline; */
/* 	position: absolute; */
	width: 234px;
	margin: 0px 0px 0px 0px;
	float: left;
	border-left: 1px #717471 solid;
	border-right: 1px #717471 solid;
	padding: 0 42px;
	min-height: 40px;
	text-align: center;
}

.dayField {
	color: #141514;
	width: 60px;
	float: left;
	margin-top: 12px;
	margin-left: 13px
}

.glowStatus {
	padding-left: 20px;
	padding-right: 17px;
	margin-left: 20px;
	float: left;
	
}